body {
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
    font-size: 20px;
}
.button-play{
    background-color: rgb(119, 0, 199);
    border: none;
    color: white;
    border: solid white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.hide {
    display: none;
}
.list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}
.tests {
    border: solid;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.testslist {
    margin-bottom: 20px;
}
